# Virtual environments
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Streamlit
.streamlit/secrets.toml

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
